<ul>
    {{#each posts as |post|}}
    <li>
        <div>
            <h3>{{post.title}}</h3>
            <div>
                <p>Posted by {{post.user.username}} on {{post.date_created}}</p>
            </div>
        </div>
        <p>{{post.content}}</p>
    </li>
    {{/each}}
</ul>