:root {
  --dark-color: #231010;
  --light-color: #d9ead3;
  --grey-color: #8f8f8f;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 25px 50px;
  height: 200px;
  background-color: var(--dark-color);
}

header nav * {
  font-size: 30px;
  color: var(--light-color);
  text-decoration: none;
  margin-right: 50px;
}

header h1 {
  display: inline-block;
  color: var(--dark-color);
  background-color: var(--light-color);
  margin-top: 30px;
  padding: 5px 15px;
  border-radius: 15px;
  white-space: nowrap;
  font-size: 55px;
  filter: drop-shadow(10px 10px 0px var(--grey-color));
}

main {
  /* height: calc(100vh - 300px  ); */
  background-color: var(--light-color);
}

ul {
  list-style: none;
  background-color: var(--light-color);
  margin: 25px 50px;
}

li > div {
  background-color: var(--dark-color);
  padding: 15px 35px;
  display: flex;
}

li > div > * {
  color: var(--grey-color);
}

li  h3 {
  white-space: nowrap;
  font-size: 40px;
  width: 75%;
}

li > div > div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

ul li > p {
  font-size: 25px;
  font-weight: 600;
}